@model SDA.Models.returned

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>returned</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracker.Statuss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracker.Statuss)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trackerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
